:root{
    --color-primary: #1B3C53;
    --color-secondary: #C0C9EE;
    --color-success: #B7E5CD;
    --color-error: #C1785A;
    --color-warning: #E3E3E3;
    --color-white: #ffffff;
    --color-close: #715A5A;

    --color-timhong: #F2AEBB;
    --color-da: #F5D3C4;

    --color-xanh-nhat-la: #B7E5CD;
    --color-xanh-dam-la: #8ABEB9

}

.traffic-report-button {
    background: var(--color-xanh-dam-la);
    border-radius: 999px;
    width: fit-content;
    padding: 10px 18px;
    color: var(--color-secondary);
}

.traffic-report-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}
