.map-popup-wrapper {
    position: absolute;
    transform: translate(-50%, -100%);
    pointer-events: auto;
}

.map-popup-inner {
    border-radius: 18px;
    overflow: hidden; /* ✅ FIX LÒI NỀN */
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);
    background: var(--card-background-color-nhat);
    position: relative;
    width: auto;
    height: fit-content;
    display: flex;
    align-items: stretch;


}

.map-popup-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    max-width: 250px;
    max-height: 250px;

}

/* Nút đóng */
.popup-close {
    position: absolute;
    top: 6px;
    right: 8px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    font-size: 14px;
    z-index: 5;
}
