:root{
    --color-primary: #1B3C53;
    --color-secondary: #C0C9EE;
    --color-success: #B7E5CD;
    --color-error: #C1785A;
    --color-warning: #E3E3E3;
    --color-white: #ffffff;
    --color-close: #715A5A;

    --color-emergency: #DC143C;
    --color-emergency-light: #FFB6C1;
}

.emergency-report-button {
    background: var(--color-emergency);
    border-radius: 999px;
    width: fit-content;
    padding: 10px 18px;
    color: var(--color-white);
    font-weight: bold;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 0 0 rgba(220, 20, 60, 0.7);
    }
    50% {
        box-shadow: 0 0 0 10px rgba(220, 20, 60, 0);
    }
}

.emergency-report-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}