.traffic-map .base-map-wrapper {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;
}

.map-popup-wrapper {
    position: absolute;

}

.map-popup-inner .traffic-popup {
    overflow: hidden;
}



.traffic-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-popup-container .map-popup-inner .traffic-popup {
    overflow: hidden !important;
}