.branch-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.branch-map-loading,
.branch-map-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    font-size: 16px;
}

.branch-map-error {
    color: #EF4444;
}
