:root{
    --color-primary: #1B3C53;
    --color-secondary: #C0C9EE;
    --color-success: #B7E5CD;
    --color-error: #C1785A;
    --color-warning: #E3E3E3;
    --color-white: #ffffff;
    --color-close: #715A5A;

    --color-security: #E74C3C;
    --color-security-light: #F5B7B1;
}

.security-report-button {
    background: var(--color-security);
    border-radius: 999px;
    width: fit-content;
    padding: 10px 18px;
    color: var(--color-white);
}

.security-report-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}